/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap');
 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

.body {
  transition: 0.5s;
  margin: 0;
  padding: 0;
  /* background-color: rgb(241, 239, 239); */
  background-color: rgb(244, 241, 241);
  font-family: 'Poppins', sans-serif;
  color: rgb(57, 57, 57);
}

h1 {
  font-size: 70px;
  line-height: 70px;
  font-weight: 300;
  margin: 10px 0;
}

h2 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 300;
  margin: 0px 0;
}

p {
  margin: 0px;
  font-size: 20px;
}

a {
  color: rgb(162, 0, 255);
  font-size: 20px;
  text-decoration: none;
  font-weight: 100;
}

.dark a {
  color: rgb(246, 169, 241)
}

/* 
.square h2 {
  margin: 50px 0 10px 0;
} */

header {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
}

.switch {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(39, 38, 38);
  position: relative;
}

.flicker {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left: 5px;
  transition: 0.3s;
  box-shadow: 
    inset 4px 4px 4px rgb(255, 255, 255),
    inset -4px -4px 1px rgb(195 193 198 / 90%);
}

.dark {
  background-color: rgb(57, 57, 57);
  transition: 0.5s;
}

.moon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left: 45px;
}

.dark .flicker {
  transform: translateX(40px);
  transition: 0.3s;
}

.dark > * {
  color: rgb(255, 255, 255)
}

.main {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.main-text {
  /* width: 50%; */
  padding: 30px;
  margin-bottom: 100px;
}

.square {
  width: 100%;
  margin: 1px;
  height: 350px;
  background-color: aquamarine;
  text-align: center;
}

.dark .square {
  background-color: rgb(71, 71, 71)
}

#engines {
  
  background-image: url("images/engines.png");
  background-size: cover;
  background-position: center;
}

#nasa {
  
  background-image: url("images/nasa.png");
  background-size: cover;
  background-position: center;
}

#travel {
  background-image: url("images/travel.png");
  background-size: cover;
  background-position: center;
}

#groovyhelix {
  background-image: url("images/groovyhelix.png");
  background-size: cover;
  background-position: center;
}

.sub-section {
  display: flex;
  flex-wrap: wrap;
}


.hero-image {
  position: relative;
  width: 50%;
  height: 350px;
  display: block;
}

.cube {
  position: absolute;
  width: 80px;
  height: 80px;
  /* background-color: pink; */
  transform: rotate(-25deg) skew(25deg);
}

.cube::before {
  position: absolute;
  content: "";
  width: 21px;
  height: 100%;
  /* background-color: blue; */
  transform: skewY(-45deg);
  left: -20px;
  bottom: -10px;
}


.cube::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 21px;
  /* background-color: rgb(214, 23, 23); */
  transform: skewX(-45deg);
  left: -10px;
  bottom: -20px;
}

#node {
  left: 100px;
  bottom: 80px;
  background-image: url("images/nodejs.png.png");
  background-size: cover;
  background-color: rgb(175, 119, 227);
  box-shadow: -60px 60px 20px rgb(50 50 50 / 15%);
}

#node::before {
  background-color: rgb(189, 154, 221)
}

#node::after {
  background-color: rgb(205, 188, 221)
}


#php {
  left: 250px;
  bottom: 240px;
  background-image: url("images/php.png.png");
  background-size: cover;
  background-color: rgb(227, 119, 191);
  box-shadow: -60px 60px 20px rgb(50 50 50 / 15%);
}

#php::before {
  background-color: rgb(221, 154, 207)
}

#php::after {
  background-color: rgb(221, 188, 211)
}


#react {
  left: 450px;
  bottom: 200px;
  background-image: url("images/react.png.png");
  background-size: cover;
  background-color: rgb(175, 119, 227);
  box-shadow: -60px 60px 20px rgb(50 50 50 / 15%);
}

#react::before {
  background-color: rgb(189, 154, 221)
}

#react::after {
  background-color: rgb(205, 188, 221)
}


#python {
  left: 350px;
  bottom: 40px;
  background-image: url("images/python.png.png");
  background-size: cover;
  background-color: rgb(119, 193, 227);
  box-shadow: -60px 60px 20px rgb(50 50 50 / 15%);
}

#python::before {
  background-color: rgb(154, 189, 221)
}

#python::after {
  background-color: rgb(188, 200, 221)
}



footer {
  display: flex;
  justify-content: center;
  padding: 100px 30px;
  background-color: rgb(136, 136, 136);
}

.dark footer {
  background-color: rgb(62, 62, 62);
}

@media only screen and (min-width: 970px) {
  .main-text {
    width: 50%;
  }
  .square {
    width: 48%;
    margin: 1%;
    height: 600px;
  }
}

@media only screen and (max-width: 1300px) {
  .hero-image {
    display: none;
  }
}

